/*-- begin stepper css --*/
.v-input input {
  text-transform: capitalize !important;
}

.totalDiv {
  position: relative;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  height: 30vh;
  overflow-y:auto;
  overflow-x:hidden;
  scrollbar-width: auto;
}

.cardText {
  position: relative;
  right: 18px;
  bottom: 27px;
  font-size: 15px;
  text-align: left;
}

.assetTitle {
  width: 100%;
  font-size: 25px;
  height: 30px !important;
}

.card {
  border-radius: 0rem;
  max-width: 99%;
}

.cancelButton1 {
  position: relative;
  bottom: .5rem;
  right: 10rem;
  padding: 0px;
}

.cnclBtnSrfc {
  position: inherit;
  bottom: .5rem;
  right: 0rem;
  padding: 0px;
  border: 1px solid black;
}

.contBtnSrfc {
  position: relative;
  bottom: .5rem;
  padding: 0px;
  right: 11rem;
}

.skipButton1 {
  position: inherit;
  bottom: 10px;
  padding-left: 2px;
  right: 0rem;
  border: 1px solid black;
}

.continueButton {
  position: relative;
  bottom: .5rem;
  padding: 0px;
  right: 160px;
}

.nextAssetBtns {
  position: relative;
  left: 8.2rem;
  top: 2.5rem;
}

.mileButton {
  top: 75px;
}

.chooseMapBtn {
  top: 120px;
}

#assetEnd {
  font-weight: bold;
  text-decoration: underline;
  display: -moz-inline-stack;
  display: inline-block;
  animation: pulse-title 2s linear;
}

@keyframes pulse-title {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }

  80% {
    transform: scale(.5);
  }

  90% {
    transform: scale(.1);
  }

  100% {
    transform: scale(.2)
  }
}

.divSrfcFullLen {
  outline: 1px solid black;
  height: 3rem;
  width: 99.3%;
  left: 0.05rem;
  position: absolute;
}

.divSrfcFullLen .backButton {
  top: .4rem;
  padding: 0px;
  right: 6.5rem;
}

.divSrfcFullLen .cancelButton {
  position: relative;
  bottom: 0px;
  padding: 0px;
  right: 2rem;
  top: 5px;
}

.divSrfcFullLen .yesButton {
  bottom: 7px;
  padding: 0px;
  right: 6px;
  border: 1px solid black;
}

.divSrfcFullLen .noButton {
  bottom: 7px;
  padding: 0px;
  right: 76px;
  border: 1px solid black;
}

.assetPosFinish {
  border: 1px solid #204E70;
  height: 70px;
  position: relative;
}

.assetTxtFinish {
  position: relative;
  left: 1px;
  text-align: left;
}

.assetPosFinish .btnPencil {
  left: 17rem;
  bottom: 3.9rem;
}

.assetPosFinish .penciTxt {
  color: #204E70;
  left: 14rem;
  bottom: 2.05rem;
  position: relative;
}

.assetPosFinish .btnDelete {
  left: 14.4rem;
  bottom: 3.8rem;
}

.assetPosFinish .deleteTxt {
  color: red;
  left: 11.1rem;
  bottom: 2.1rem;
  position: relative;
}

.addSegment {
  position: absolute;
  left: 0%;
  font-size: small;
  top: 110%;
  padding-bottom: 5px;
}

.addSegColor {
  color: #204E70;
}

/*-- end stepper css --*/
.card{
  width: 30rem;
  position: absolute;
}

.cardTitle {
  background-color: #14375A;
  color: white;
  height: 40px;
}
.textSymb{
  color: black !important;
  text-align: left;
}
.textSymbDisable{
  color: grey;
  text-align: left
}
.editActionType{
  font-size: 1.23rem!important;
  text-align: left;
  padding-left: none;
  bottom: 2.7vh;
  right: 1rem;
  position: relative;
}

.closeBtnUnderline{
  text-decoration: underline;
}

.v-dialog{
  overflow-y: hidden !important;
}
